<mat-card>
    <mat-card-header>
        <h3>Edd Data</h3>
    </mat-card-header>
    <mat-card-content class="mat-elevation-z8">
        <ul>
            <li>Total Cost: {{ sum('cost', eddQWithSatisfaction ) | number }} ₪</li>
            <li>Late Jobs: &Sigma; {{ sumLateJobs(eddQWithSatisfaction)}} </li>
            <li>Max Lateness: {{ maxLateness(eddQWithSatisfaction) }} days</li>
            <li>AVG Satisfaction: {{ (sumAvg('satisfaction', eddQWithSatisfaction) * 100).toFixed(2) }} %</li>
        </ul>
    </mat-card-content>
</mat-card>