<mat-card>
    <mat-card-header>
        <h3>Fifo Data</h3>
    </mat-card-header>
    <mat-card-content class="mat-elevation-z8">
        <ul>
            <li>Total Cost: {{ sum('cost', fifoQWithSatisfaction ) | number }} ₪</li>
            <li>Late Jobs: &Sigma; {{ sumLateJobs(fifoQWithSatisfaction)}} </li>
            <li>Max Lateness: {{ maxLateness(fifoQWithSatisfaction) }} days</li>
            <li>AVG Satisfaction: {{ (sumAvg('satisfaction', fifoQWithSatisfaction) * 100).toFixed(2) }} %</li>
        </ul>
    </mat-card-content>
</mat-card>