<mat-nav-list fxFlex fxLayout="column">
    <a mat-list-item routerLink="/form" (click)="onClose()">
        <mat-icon>people_alt</mat-icon>
        <span class="nav-catpion b">Orders</span>
    </a>
    <a mat-list-item routerLink="/fifo" (click)="onClose()">
        <mat-icon>people_alt</mat-icon>
        <span class="nav-catpion b">Fifo</span>
    </a>
    <mat-list-item (click)="onClose()">

    </mat-list-item>
</mat-nav-list>