
section {
    top: 0;
    height: 25rem;
    background-color: black;
    color: white;
    padding-top: 5rem;
    padding-left: 10rem;
    z-index: 1;
  }
  
  .wrapper {
    width: 25rem;
  }
  .wrapper h1 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bolder;
  }
  
  .logo {
    background-color: black;
    margin: -1rem;
    padding: 2rem;
    padding-left: 3rem;
    width: 95.85%;
  }
  
  .logo h1 {
    font-weight: bolder;
    font-size: 3rem;
    color: white;
    padding: 1rem;
  }
  
  mat-icon {
    color: white;
    font-size: 2rem;
    padding-left: 1rem;
  }
  
  p {
    font-size: medium;
    font-weight: lighter;
    line-height: 2rem;
  }
  
  img {
    height: 20rem;
    width: 25rem;
    float:right;
    margin-top: -20rem;
    margin-right: -30rem;
  }
  
  
  button {
    margin-top: 5rem;
    background-color: white;
    color:black;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  button:hover {
    opacity: 0.5;
  }
  
  .allrights {
    margin-top: 12rem;
    margin-left: 2rem;
    padding: 2rem;
    float:right;
  }
  