<mat-toolbar>
    <div><button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>
          menu
        </mat-icon>
      </button>
    </div>

    <div class="logo"><a routerLink="/welcome">uShirts</a>
        <mat-icon>whatshot</mat-icon>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" *ngIf="!url">
        <ul fxLayout class="navigation_items">
            <li><a routerLink="/form">Orders Form</a></li>
            <li><a routerLink="/fifo">Fifo</a></li>
            <li><a routerLink="/edd">Edd</a></li>
            <li><a routerLink="/hm">Hodgeson-Moor</a></li>
            <li><a routerLink="/dashboard">Dashboard</a></li>
        </ul>
    </div>
</mat-toolbar>