table, mat-paginator {
    width: 80%;
    margin-left: 5rem;
  }
  
  .trady {
    color: red;
  }
  
  .early {
    color: green;
  }
  
  table, mat-paginator {
    width: 80%;
    margin-left: 5rem;
  }
  
  .trady {
    color: red;
  }
  
  .early {
    color: green;
  }
  
  mat-card-content div {
    padding: 1.2rem;
    background-color: black;
    /* background-color: darkslateblue; */
    color: white;
    height: 2.5rem;
    /* width: 10rem; */
  }
  
  mat-card-content div mat-icon {
    /* padding: 0; */
    margin: -0.5rem;
    margin-left: 0.5rem;
  }
  
  mat-card-content h1 {
    padding: 1.2rem;
    background-color: black;
    /* background-color: darkslateblue; */
    color: white; text-align: center;
  }

  #totalHeaders {
    margin-left: 5rem;
  }
  
  mat-card > mat-card-content.mat-elevation-z8 {
      margin: 1rem;
      padding: 1rem;
      line-height: 1.5;
  }

  section > mat-card > mat-card-header {
    padding: 1rem;
    background-color: black;
    /* background-color: darkslateblue; */
    color: white; text-align: center;
  }

  mat-card-content.mat-elevation-z8 > ul > li {
      list-style: none;
  }

  section { 
      margin-top: 5rem;
  }

  section > mat-card {
      width: 30rem;
  }

