<mat-card>
    <mat-card-content class="mat-elevation-z8">
        <h1>Summary Schdueling Data</h1>
    </mat-card-content>
</mat-card>

<section id="data__container" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-card>
        <mat-card-header>
            <h3>Fifo Data</h3>
        </mat-card-header>
        <mat-card-content class="mat-elevation-z8">
            <ul>
                <!-- <li>Total Cost: {{ sum('cost', fifoQWithSatisfaction ) | number }} ₪</li> -->
                <li>Total Cost: {{ fifoTC | number }} ₪</li>
                <li>Late Jobs: &Sigma; {{  fifoL }} </li>
                <li>Max Lateness: {{ maxLateness(fifoQWithSatisfaction) }} days</li>
                <li>AVG Satisfaction: {{ (sumAvg('satisfaction', fifoQWithSatisfaction) * 100).toFixed(2) }} %</li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <h3>EDD Data</h3>
        </mat-card-header>
        <mat-card-content class="mat-elevation-z8">
            <ul>
                <li>Total Cost: {{ eddTC | number }} ₪</li>
                <li>Late Jobs: &Sigma; {{ eddL }} </li>
                <li>Max Lateness: {{ maxLateness(eddQWithSatisfaction) }} days</li>
                <li>AVG Satisfaction: {{ (sumAvg('satisfaction', eddQWithSatisfaction) * 100).toFixed(2) }} %</li>
            </ul>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <h3>Hodgeson-Moore Data</h3>
        </mat-card-header>
        <mat-card-content class="mat-elevation-z8">
            <ul>
                <li>Total Cost: </li>
                <li>Late Jobs: </li>
                <li>Max Lateness: </li>
                <li>AVG Satisfaction: </li>
            </ul>
        </mat-card-content>
    </mat-card>
</section>